html,
body {
  overflow-x: hidden;
}

body {
  margin: 0 0 0 var(--nav-width);
  font-family: "Avenir Next";
  font-size: 24px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
  z-index: 10;
}

.nav__link_container {
  overflow: auto;
  float: right;
  position: relative;
  display: flex;
  margin-right: 5em;
}

.nav__link {
  display: block;
  padding: 25px 18px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  margin-right: 20px;
}

.nav__link:hover {
  background: rgba(99, 99, 99, 0.05);
}

.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
  float: left;
  padding: 22px 28px;
  color: #1e1f39;
  margin-left: 5em;
}

#app {
  margin: 7em;
  margin-top: 3em;
  line-height: 1.5;
  font-weight: 500;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#portrait {
  animation: flyIn 1.5s ease-out;
  transition: transform 0.2s;
}

#portrait:hover {
  transform: scale(1.07);
}

@keyframes flyIn {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

#row {
  display: flex;
  flex-direction: row;
  margin: auto;
  vertical-align: bottom;
}

a {
  color: #009579;
}

p {
  margin-right: 25%;
  min-width: 320px;
}

#hi {
  font-size: 70px;
  font-weight: 650;
}

#hello_text {
  margin-right: 14em;
}

.all_proj {
  display: flex;
  animation: fadeInAnimation ease 0.5s;
}

.proj_img {
  width: 400px;
  height: 235px;
  border-radius: 25px;
  transition: all 0.2s;
  border: 3px solid black;
  animation: fadeInAnimation ease 3s;
}

.box {
  margin: 5em;
  width: 30%;
}

.proj_img:hover {
  transform: scale(1.07);
  margin-right: 30%;
  min-width: 350px;
}

.experience {
  display: flex;
  transition: transform 0.2s;
  animation: fadeInAnimation ease 0.5s;
}
.experience:hover {
  transform: scale(1.02);
}

.experience_img {
  width: 220px;
  height: 220px;
}

.experience_text {
  padding: 20px;
  margin-left: 1em;
}

.experience_company {
  font-size: 30px;
  font-weight: 650;
}

.proj_desc {
  font-size: 18px;
  text-align: justify;
}

.proj_stack {
  font-size: 18px;
  font-weight: 650;
  text-align: justify;
}

.experience_time {
  font-size: 22px;
}

.experience_role {
  font-size: 30px;
}

.experience_desc {
  font-size: 20px;
}

.social {
  color: #aaaaaa;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
  font-size: 60px;
}

.social:hover {
  color: #505050;
}

.tech_stack {
  width: 40px;
  height: 40px;
  padding-right: 3px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  z-index: 1;
}

@media screen and (max-width: 820px) {
  #row {
    flex-direction: column;
    margin: auto;
    display: block;
  }

  #app {
    margin: 1em;
  }

  .logo {
    margin: 0em;
  }

  .experience {
    flex-direction: column;
  }

  .box {
    margin: 0;
  }
}
@media screen and (max-width: 1250px) {
  .all_proj {
    flex-direction: column;
    margin: 1em;
  }

  .nav__link_container {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav__link_container.active {
    left: 0;
  }

  #app {
    margin: 1em;
  }

  .box {
    margin: 0;
    width: 100%;
    margin-bottom: 2em;
  }

  .all_proj {
    margin: 0;
  }

  .proj_img {
    width: 330px;
  }

  .experience_text {
    margin: 0;
    width: 90%;
  }

  .experience_desc {
    width: 90%;
  }

  .experience_role {
    width: 90;
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
    margin: 1em;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
